---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="ERROR">
	<main
		class="mt-auto flex flex-col items-center justify-center gap-y-4 text-white/85 [-webkit-text-stroke:_2px_rgb(24_24_27_/_0.1)] [text-shadow:_0_2px_4px_rgb(0_0_0_/_0.1)]"
	>
		<h3 class="text-4xl font-bold uppercase sm:text-5xl">Error</h3>
		<h1 class="text-8xl sm:text-9xl">404</h1>
	</main>
</Layout>
