---
import SectionContainer from "@/components/SectionContainer.astro"
import UnderlineLink from "@/components/UnderlineLink.astro"
---

<SectionContainer as="footer" class="mt-auto flex items-center justify-center">
	<span class="text-sm text-zinc-900">
		Build by
		<UnderlineLink href="https://github.com/Rakioth"><strong>Raks</strong></UnderlineLink>
		<span aria-hidden="true">|</span>
		<UnderlineLink href="https://github.com/Rakioth/link">
			<strong>Source Code</strong>
		</UnderlineLink>
	</span>
</SectionContainer>
